{% include 'header.html' %}

<div class="document">
    <div class="document__title">
        <div class="document__title__content">Add document to search space</div>
        <div class="documents__title__action">
            <a href="/documents">All Documents</a>
        </div>
    </div>
    <div class="document__form">
        <div class="document__form__field">
            <input type="file" name="document" />
        </div>
        <div class="document__form__field">
            <label>Search space</label>
            <select name="search_space">
                <option value="">select search space</option>
                {% for search_space in search_spaces -%}
                <option value="{{ search_space.name }}">{{ search_space.name }}</option>
                {% endfor -%}
                <option value="add">add new search space</option>
            </select>
            <input type="text" name="add_search_space" placeholder="Add search space" />
        </div>
        <div class="document__form__field">
            <button class="send action action__add">Upload</button>
        </div>
    </div>
    <div class="document__response"></div>
</div>

<div class="logout">
    <div class="logout_inner"><a href="/logout">Logout</a></div>
</div>
<script src="{{ url_for('static', filename='js/add_document.js') }}"></script>

{% include 'footer.html' %}
