<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>AiDocker WebUI - File Handler</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/documents.css') }}" />
</head>

<body>
    <!-- page content -->
    <div class="documents">
        <div class="documents__title">
            {% if search_space -%}
            Documents in {{ search_space.name }}
            {% else -%}
            Documents
            {% endif -%}
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Search Space</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for document in documents -%}
                <tr>
                    <td>{{ document.id }}</td>
                    <td>{{ document.name }}</td>
                    <td><a href="/documents/{{ search_space.id }}">{{ document.search_space.name }}</a></td>
                    <td><a href="/documents/delete/{{ document.id }}">Delete</a></td>
                </tr>
                {% endfor -%}
            </tbody>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Search Space</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
        </table>
        <div class="documents__pagination">
            <div class="documents__pagination__prev">
                <a href="/documents/{{ current_page_no - 1 }}">Prev</a>
            </div>
            {% for page_no in range(pages): -%}
            <div class="documents__pagination__page">
                <a href="/documents/{{ page_no + 1 }}">{{ page_no + 1 }}</a>
            </div>
            {% endfor -%}
            <div class="documents__pagination__next">
                <a href="/documents/{{ current_page_no + 1 }}">Next</a>
            </div>
        </div>
    </div>

    <div class="logout">
        <div class="logout_inner"><a href="/logout">Logout</a></div>
    </div>
    <script src="{{ url_for('static', filename='js/documents.js') }}"></script>
</body>

</html>
