<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!-- page content -->
    <div class="chat">
        <div class="chat__title"></div>
        <div class="messages">
            <div class="message assistant">
                <div class="message__outer">
                    <div class="message__inner">
                        <div class="message__bubble">
                            <p>Hi! How can I do to help?</p>

                        </div>
                        <div class="message__spacer"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="message assistant">
            <div class="message__outer">
                <div class="message__inner">
                    <div class="message__bubble">
                        <div class="ellipsis one"></div>
                        <div class="ellipsis two"></div>
                        <div class="ellipsis three"></div>
                    </div>
                    <div class="message__spacer"></div>
                </div>
            </div>
        </div>
        <div class="text-box">
            <textarea rows="3"></textarea>
            <button class="send">Send</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
